<h1> Cannabis Strains </h1>
<div class='science'>
    <p>Welcome to the different variations of marijuana!</p>
</div>

<div class="effect2">
    <p>Marijuana strains stem --<em>no pun intended</em>-- from all over the world. The use of the main ingredient in marijuana (THC) is highly recognized in the medical field for keeping a lot of ailments under control.</p>
</div>
<div class="effect3">
    <p>
    Despensaries are the safest way to obtain medical marijuana. Theres a high demand for it marijuana worldwide.
    If there is a strain people should know about feel free to provide the info for others.
    Cheers!! 🍻 
    </p>
</div>

<div class="effect1">
    <h2> Select a Strain </h2>  
    
    <%= select("post", "cannabi_id", @cannabi.all.collect {|f| [ f.strain, f.id ] }, {prompt: 'Select Strain'}) %>
    <%= button_to "Select" %>
</div>    

<footer>Copyright&copy Todd McIver </footer>
    