/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require mapbox
 *= require_tree .
 */

body { 
    margin: auto 0; 
    padding: 0;
    text-align: center;
    background: #cbd23f;
    // background-image: url('https://hightimes.com/wp-content/uploads/2018/01/thc-tetrahydrocannabinol-hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.effect1 {
    height: 250px; 
    color: #c2bebb; 
    font-size: 30px;
    background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/150417073249-12-dsc-9294-1-exlarge-169.jpg');  
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.effect2 {
    height: 250px;
    color: #e8e6e4;
    font-size: 34px;
    background-image: url('https://cdn.shopify.com/s/files/1/0693/5983/products/Manhattan_Skyline-Sunset_Sunburt-Top_of_the_Rock-New_York_City--Greg_Goodman-AdventuresofaGoodMan.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.effect3 {
    height: 250px;
    color: #e8e6e4;
    font-size: 30px;
    background-image: url('https://www.sebastiandaily.com/wp-content/uploads/2017/12/sebastian-medical-marijuana-dispensary-600x381.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.science {
    font-size: 40px;
    height: 250px;
    color: white;
    background-image: url('https://media1.fdncms.com/stranger/imager/u/large/24790157/weed-mag.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.dna {
    height: 250px;
    color: white;
    background-image: url('https://hightimes.com/wp-content/uploads/2018/01/thc-tetrahydrocannabinol-hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#map { 
    position: absolute; 
    width: 50%;
    height: 300px;
    margin-left: 25%;
    margin-bottom: 15%;
}

h1 {
    color: rgba(23, 128, 23, 0.753);
    font-weight: bold;
}

h2 {
    color: red;
}

h3 {
    margin-top: 5%;
    color: red;
}

.list{
    text-align: center;
}

#data {
    border-style: solid;
    border-width: 2px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    margin-bottom: 3%;
}

#strain {
    margin-bottom: 5%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

footer {
    margin: 15px;
    background-color: white;
}